.toy-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .toy-preview {
    border: 2px solid $gray-300;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: $transition;

    &:hover {
      border-color: $gray-400;
    }

    div {
      h3 {
        font-size: 1em;
        font-family: 'Lato-Regular';
      }
    }
  }
}
