// header {
// 	background-color: $clr5;
// 	padding: 10px;
// 	display: flex;
// 	justify-content: space-between;

// 	.loggedin-user {
// 		background-color: $clr1;
// 		padding: 2px 8px;
// 		border-radius: 1em;
// 		align-self: flex-end;
// 		color: whitesmoke;
// 		span {
// 			background-color: $clr2;
// 			padding: 4px;
// 			margin: 10px;
// 			border-radius: 50%;
// 		}
// 	}
// 	nav {
// 		background-color: $clr4;
// 		padding: 5px 0;
// 	}
// 	nav a:not(:first-child) {
// 		border-top: 1px solid $clr1;
// 		padding: 0 5px;
// 		margin: 10px;
// 	}
// 	nav .active {
// 		color: $clr1;
// 	}
// }
header {
	--el-menu-item-height: 2.75rem;
	--el-menu-text-color: white;
	--el-menu-active-color: white;
	--el-menu-hover-text-color: white;
	--el-menu-hover-bg-color: #4e97c2;
	--el-bg-color-overlay: #4e97c2;
	a,
	a:hover {
		all: unset;
		text-decoration: none;
	}
	.el-menu {
		background-color: $clr2;
		color: white;
		.el-menu-item:not(.is-disabled):hover {
			color: white;
		}
	}
}
