.boards-page {
	margin: auto;
	max-width: rem(847px);
	min-width: 288px;
	width: 100%;
	margin-top: 50px;
	h2 {
		font-size: 20px;
		font-weight: 600;
	}
}

.board-card {
	padding-right: 19px;
	padding-bottom: 23px;
}
