.boards-page {
	margin: auto;
	max-width: rem(847px);
	min-width: 288px;
	width: 100%;
	margin-top: 50px;
	h2 {
		font-size: 20px;
		font-weight: 600;
	}
}

.board-card {
	padding-right: 19px;
	padding-bottom: 23px;
	position: relative;

	h3 {
		position: absolute;
		top: 7px;
		left: 7px;
		color: white;
		z-index: 10;
		-webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.349);
	}

	&:hover {
		.background {
			filter: brightness(90%);
		}
		.star {
			transition: 100ms;
			width: 18px;
			height: 18px;
			font-size: 14px;
			line-height: 18px;
			color: white;
			position: absolute;
			top: 72px;
			right: 25px;
			&:hover {
				font-size: 18px;
			}
			&:after {
				content: '\e966';
			}
		}
	}
	.star-solid {
		transition: 100ms;
		width: 18px;
		height: 18px;
		font-size: 14px;
		line-height: 18px;
		color: white;
		position: absolute;
		top: 72px;
		right: 25px;
		color: #f2d600;
		&:hover {
			font-size: 18px;
		}
		&:after {
			content: '\e967';
		}
		&:hover {
			&:after {
				content: '\e966';
			}
		}
	}
		
}
