.checklist-cmp{
    width: 100%;
    .button-link{
        color: #172b4d;
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: auto;
    }
}
.add-checklist-item{
    
    padding-bottom: 9px;
    cursor: pointer;
    height: 32px;
    margin: 4px 0 0;
    min-height: 32px;
    overflow: hidden;
    resize: none;
    text-align: initial;
    text-decoration: none;
    width: 100%;
    height: 56px;
    &:focus{
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
        color: #172b4d;
        cursor: text;
        float: none;
        resize: vertical;
        width: 100%;
    }
}

.add-checklist-item-container{
    margin-left: 40px;
    .checklist-options{
        .button-primary{
        margin: 0 4px 0 0;
    }
    .button-secondary{
        align-items: center;
        background-color: #091e4200;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        color: #172b4d;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        padding: 6px 12px;
        text-decoration: none;
        transition-duration: 85ms;
        transition-property: background-color,border-color,box-shadow;
        transition-timing-function: ease;
        white-space: normal;
        &:hover{
            background-color: #091e420a;
        }
    }
}
}

.checklist-display{
    display: inline-flex;
    padding: 6px 0;
    width: 100%;
}
.task-done-button{
    border-radius: 3px;
    clear: both;
    padding: 0px 20px;
    position: relative;
    transform-origin: left bottom;
    transition-duration: .14s;
    transition-property: transform,opacity,height,padding,margin;
    transition-timing-function: ease-in;
}