.label-display{
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0 4px;
    min-height: 20px;
    padding: 6px 12px;
    position: relative;
    transition: padding 85ms,margin 85ms,box-shadow 85ms;
}