.task-modal {
	.btn-icon {
		font-family: trellicons;
		font-size: 16px;
		height: 20px;
		line-height: 24px;
		width: 20px;
		font-weight: 400;
		color: #42526e;
		display: flex;
		justify-content: center;
		&.member {
			&:after {
				content: '\e946';
			}
		}
		&.label {
			&:after {
				content: '\e93f';
			}
		}
		&.checklist {
			&:after {
				content: '\e91a';
			}
		}
		&.date {
			img {
				width: 16px;
			}
		}
		&.attachment {
			&:after {
				content: '\e908';
			}
		}
		&.move {
			&:after {
				content: '\e94a';
			}
		}
		&.template {
			&:after {
				content: '\e96e';
			}
		}
		&.copy {
			&:after {
				content: '\e91f';
			}
		}
		&.watch {
			&:after {
				content: '\e969';
			}
		}
		&.archive {
			&:after {
				content: '\e907';
			}
		}
		&.share {
			&:after {
				content: '\e963';
			}
		}
		&.cover {
			&:before {
				content: '\e914';
			}
		}
	}
}
