.task-modal {
	.icon-logo {
		font-family: trellicons;
		height: 32px;
		line-height: 32px;
		width: 32px;
		font-size: 24px;
		font-weight: 400;
		color: #42526e;
	}
	.description-logo {
		&:after {
			content: '\e912';
		}
	}
}
