.todos-container{
    position: relative;
    .todo-modal{
        position: absolute;
        z-index: 1;
    }
}
.todo-header{
    border-bottom: 1px solid #091e4221;
    box-sizing: border-box;
    color: #5e6c84;
    display: block;
    line-height: 40px;
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

.checklist-title-close{
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}