/** fonts **/
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('@/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Playfair-Regular';
  src: url('@/assets/fonts/playfair/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Playfair-Bold';
  src: url('@/assets/fonts/playfair/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('@/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('@/assets/fonts/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('@/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('@/assets/fonts/Roboto/Roboto-Medium.ttf');
}
