* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto-Regular', sans-serif;
}

html {
  font-size: 14px;

  @include for-sm-layout {
    font-size: 16px;
  }
}

/** image **/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Layout **/
.flex {
  display: flex;
}
.flex-space-between{
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

@each $class, $property in $justify-positions {
  .#{$class} {
    justify-content: $property;
  }
}

@each $class, $property in $items-positions {
  .#{$class} {
    align-items: $property;
  }
}

.grid {
  display: grid;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;

  @include for-sm-layout {
    max-width: 540px;
  }

  @include for-md-layout {
    max-width: 720px;
  }

  @include for-lg-layout {
    max-width: 960px;
  }

  @include for-xl-layout {
    max-width: 1140px;
  }
}

/** links**/
.link {
  color: $gray-900;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    color: $teal-500;
  }

  &:hover {
    color: $gray-500;
  }
}

/** buttons **/
.btn-group {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.0892857143em;
}

.btn {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.0892857143em;
  font-family: 'Roboto-Medium', sans-serif;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background: $gray-100;
  }

  &.btn-primary {
    background: $blue-500;
    color: #ffffff;

    &:hover {
      background: $blue-400;
    }
  }

  &.btn-primary-text {
    background: none;

    &:hover {
      background: $blue-100;
    }
  }

  &.btn-secondary {
    background: $gray-500;
    color: #ffffff;

    &:hover {
      background: $gray-400;
    }
  }

  &.btn-secondary-text {
    background: none;

    &:hover {
      background: $gray-100;
    }
  }

  &.btn-warning {
    background: $yellow-500;
    color: #ffffff;

    &:hover {
      background: $yellow-400;
    }
  }

  &.btn-warning-text {
    background: none;

    &:hover {
      background: $yellow-100;
    }
  }

  &.btn-danger {
    background: $red-500;
    color: #ffffff;

    &:hover {
      background: $red-400;
    }
  }

  &.btn-danger-text {
    background: none;

    &:hover {
      background: $red-100;
    }
  }

  &.btn-success {
    background: $green-500;
    color: #ffffff;

    &:hover {
      background: $green-400;
    }
  }

  &.btn-success-text {
    background: none;

    &:hover {
      background: $green-100;
    }
  }

  &.btn-info {
    background: $teal-500;
    color: #ffffff;

    &:hover {
      background: $teal-400;
    }
  }
  &.btn-info-text {
    background: none;

    &:hover {
      background: $teal-100;
    }
  }
}

/** typography **/
.text-center {
  text-align: center;
}

@for $weight from 100 to 900 {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

.uppercase {
  text-transform: uppercase;
}

.captilize {
  text-transform: capitalize;
}

/** lists **/
.clean-list {
  list-style-type: none;
}

/** forms **/
.form-control {
  margin-bottom: 1rem;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 2px solid $gray-400;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: $blue-400;
    outline: 0;
    box-shadow: 0 0 0.25rem #0d6efd40;
  }
}

.form-select {
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  border: 2px solid $gray-400;
  border-radius: 0.25rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: $blue-400;
    outline: 0;
    box-shadow: 0 0 0.25rem #0d6efd40;
  }
}

/** spacing **/
// padding all
@each $class, $padding in $sizes {
  .p-#{$class} {
    padding: $padding;
  }
}

// padding x axis
@each $class, $padding in $sizes {
  .px-#{$class} {
    padding-inline: $padding;
  }
}

// padding y axis
@each $class, $padding in $sizes {
  .py-#{$class} {
    padding-block: $padding;
  }
}

// margin all
@each $class, $margin in $sizes {
  .m-#{$class} {
    margin: $margin;
  }
}

// margin x axis
@each $class, $margin in $sizes {
  .mx-#{$class} {
    margin-inline: $margin;
  }
}

// margin y axis
@each $class, $margin in $sizes {
  .my-#{$class} {
    margin-block: $margin;
  }
}

// gaps
@each $class, $gap in $sizes {
  .gap-#{$class} {
    gap: $gap;
  }
}

.clr-teal {
  color: $teal-500;
}
