* {
	box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr6;
// }

html {
	font-family: 'Segoe UI', cursive;
	line-height: 1.6;
	color: $clr2;
}

body {
	font-size: rem(18px);
	margin: 0;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: caveat;
	margin: 0 0 0.6em;
	line-height: 1;
	color: #172b4d;
}
#app {
	height: 100%;
}

// img {
//     width: 100%;
// }

p {
	margin: 0 0 1em;
	max-width: 40ch;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

article {
	height: 100%;
}
