<<<<<<< HEAD
button {
	border: 0;
	background-color: $clr1;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 5px;
}

form > * {
	display: block;
	width: 200px;
	margin: 10px 0px;
}
=======
// button {
//     border:0;
//     background-color: $clr1;
//     color:whitesmoke;
//     padding: 5px 10px;
//     margin: 5px;
// }

// form > * {
//     display: block;
//     width: 200px;
//     margin: 10px 0px;
// }
>>>>>>> 658880626f9d793cd7f9fde760423527173738de
