// Font Sizes
.fs12 {
	font-size: rem(12px);
}
.fs14 {
	font-size: rem(14px);
}
.fs18 {
	font-size: rem(18px);
}
.fs20 {
	font-size: rem(20px);
}
.fs24 {
	font-size: rem(24px);
}
.fs28 {
	font-size: rem(28px);
}
.fs30 {
	font-size: rem(30px);
}

.text-center {
	text-align: center;
}
// flex helpers

.flex {
	display: flex;

	> *.full {
		flex: 1;
	}
	&.column {
		flex-direction: column;
	}
	&.justify-center {
		justify-content: center;
	}
	&.align-center {
		align-items: center;
	}
	&.space-between {
		justify-content: space-between;
	}
}
.grid {
	display: grid;
	&.center {
		place-items: center;
	}
}

// Media helpers

.square-ratio {
	@include aspect-ratio(1, 1);
}
.video-ratio {
	@include aspect-ratio(16, 9);
}
.portrait-ratio {
	@include aspect-ratio(9, 16);
}

.button-primary {
	align-items: center;
	background-color: #091e420a;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
		Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	font-weight: 400;
	justify-content: center;
	line-height: 20px;
	padding: 10px 12px;
	text-decoration: none;
	transition-duration: 85ms;
	transition-property: background-color, border-color, box-shadow;
	transition-timing-function: ease;
	white-space: normal;
	margin: 0 0 0 8px;
	box-shadow: none;
	background-color: #0079bf;
	margin: 0 0 0 8px;
	color: #fff;
	text-transform: capitalize;

	&:hover {
		text-decoration: none;
		background-color: #026aa7;
	}
}
.button-secondary {
	border: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	line-height: 20px;
	padding: 6px 12px;
	text-align: center;
	background: none;
	color: #fff;
	text-decoration: underline;
	&:hover {
		background-color: #ffffff4d;
	}
}

.logos {
	font-family: trellicons;
	&::before {
		content: '\e96e';
	}
}

textarea {
	border: none;
}

.full-width {
	width: 100%;
}

.description-icon {
	&:before {
		font-size: 16px;
		font-family: trellicons;
		content: '\e922';
	}
}
.u-font-weight-bold {
	font-weight: 700;
}
.title-icon {
	font-family: trellicons;
	height: 32px;
	line-height: 32px;
	width: 32px;
	font-size: 24px;
	font-weight: 400;
	color: #42526e;
	&.header {
		&:after {
			content: '\e912';
		}
	}
	&.description {
		&:after {
			content: '\e922';
		}
	}
	&.activity {
		&:after {
			content: '\e900';
		}
	}
	&.attachment {
		&:after {
			content: '\e908';
		}
	}
	&.checklist {
		&:after {
			content: '\e91a';
		}
	}
	&.close {
		&:after {
			font-size: 20px;
			content: '\e91c';
		}
	}
	&.clock {
		&:after {
			content: '\e91b';
		}
	}
}

.trello-workspace-logo {
	background: linear-gradient(#006644, #00875a);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 3px;
}

.relative{
	position: relative;
}