.home-page-header {
	font-family: charlie-regular, sans serif;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	background-color: #fff;
	justify-content: space-between;
	height: 60px;
	transition: 0.5s;
	transition-timing-function: ease;
	font-family: charlie-regular, sans serif;
	--el-menu-hover-bg-color: white;
	--el-menu-hover-text-color: #0065ff;
	--el-menu-item-font-size: 1rem;
	--el-color-primary: #0065ff;
	&:hover {
		box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
	}

	.el-menu {
		align-items: center;
		border-bottom: none;
		.el-menu-item,
		.el-sub-menu__title {
			font-size: 16px;
		}
	}
	.logo {
		img {
			width: 110px;
		}
	}
	.nav-link:hover {
		text-decoration: none;
	}
	.el-button {
		--el-button-hover-text-color: #0065ff;
		--el-button-hover-bg-color: white;
		height: 60px;
		border-radius: 0;
		font-size: 1.2rem;
		border: none;
	}
	.el-button--primary {
		width: 12.75rem;
		&:hover {
			color: white;
			background-color: #0747a6;
		}
	}
	.el-menu-item.is-active {
		border: none;
	}
	@media (max-width: 500px) {
		.logo {
			img {
				width: 100px;
			}
		}
		.el-button {
			max-width: 120px;
			font-size: 13px;
		}
	}
}
