// @font-face {
// 	font-family: WorkSans;
// 	src: '../../fonts/Work_Sans/WorkSans-Regular.ttf';
// }
@font-face {
	font-family: trellicons;
	src: url('src/assets/fonts/trellicons-regular.ttf');
}

@font-face {
	font-family: charlie-regular;
	src: url('src/assets/fonts/Charlie-Regular.ttf');
}
@font-face {
	font-family: charlie-semibold;
	src: url('src/assets/fonts/Charlie-Semibold.ttf');
}
@font-face {
	font-family: charlie-bold;
	src: url('src/assets/fonts/Charlie-Bold.ttf');
}

// @font-face {
// 	font-family: WorkSans;
// 	src: '../../assets/Work_Sans/WorkSans-Regular.ttf';
// }
// @font-face {
// 	font-family: trellicons;
// 	src: url('../../assets/trellicons-regular.ttf');
// }

// @font-face {
// 	font-family: charlie-regular;
// 	src: url('../../assets/Charlie-Regular.ttf');
// }
// @font-face {
// 	font-family: charlie-semibold;
// 	src: url('../../assets/Charlie-Semibold.ttf');
// }
// @font-face {
// 	font-family: charlie-bold;
// 	src: url('../../assets/Charlie-Bold.ttf');
// }
