// Colors
$clr1: #ce2e6c;
$clr2: #026aa7;
$clr3: #4e97c2;
$clr4: #4e97c2;
$clr5: #4e97c2;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
