// SETUP
@import 'setup/mixins';
@import 'setup/functions';
@import 'setup/variables';

// BASE
@import 'base/fonts';
@import 'base/util';

// VIEWS
@import 'views/app';
@import 'views/home';
@import 'views/login';
@import 'views/toy-details';
@import 'views/board-preview';

// COMPONENTS
@import 'components/app-footer';
@import 'components/toy-filter';
@import 'components/toy-list';
@import 'components/board-header';
